@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background: var(--color-background);
    color: var(--color-text);
    line-height: 1.6;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
  }

  main {
    margin: 0 auto;
    max-width: 50rem;
    padding: var(--space-sm) var(--space-md);
    font-size: var(--font-size-md);
    min-height: 80vh;
  }

  a {
    display: inline-block;
    color: var(--color-text);
    transition: color 200ms ease-in-out;

    &:hover {
      color: var(--color-link-hover);
    }

    &:active {
      color: var(--color-link-active);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1.2;
  }

  h1 {
    font-size: var(--font-size-2xl);
    font-weight: 500;
  }

  h2 {
    font-size: var(--font-size-xl);
    font-weight: 400;
  }

  h3 {
    font-size: var(--font-size-lg);
    font-weight: 400;
  }

  h4 {
    font-size: var(--font-size-md);
  }

  p {
    line-height: 1.6;
    margin-bottom: var(--space-sm);
  }

  .page {
    h2 {
      margin-top: var(--space-2xl);
      margin-bottom: var(--space-lg);
    }

    h3 {
      margin-top: var(--space-xl);
      margin-bottom: var(--space-md);
    }

    ul,
    ol {
      padding-left: var(--space-lg);
      margin-bottom: var(--space-md);

      li {
        margin-bottom: var(--space-sm);
      }
    }
  }

  pre {
    overflow-x: auto;
    line-height: 1.3;
  }

  :not(pre) > code {
    padding: var(--space-xxs);
    background: var(--color-background-inline-code);
    border-radius: var(--border-radius-sm);
    font-family: "Space Mono", monospace;
  }

  blockquote {
    margin-block: var(--space-xl);
    margin-inline-end: var(--space-md);
    padding-inline: var(--space-md);
    font-style: italic;
    border-inline-start: 0.2em solid var(--color-grey-600);

    cite {
      font-style: italic;

      &::before {
        content: "\2014";
        padding-inline-end: 5px;
      }
    }
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    margin: var(--space-lg) 0;
    border-radius: var(--border-radius-sm);
  }

  table {
    display: block;
    margin-bottom: var(--space-md);
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
  }

  table + table {
    margin-top: var(--space-md);
  }

  thead {
    background-color: var(--color-background-inline-code);
    color: var(--color-text);
    border-bottom: 2px solid var(--color-text-secondary);
  }

  th {
    padding: var(--space-sm);
    font-weight: bold;
    text-align: left;
  }

  td {
    padding: var(--space-sm);
    border-bottom: 1px solid var(--color-text-secondary);
  }

  tr,
  td,
  th {
    vertical-align: middle;
  }

  figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: var(--space-lg) 0;
  }

  figure img,
  figure iframe {
    margin-bottom: var(--space-sm);
  }

  figure img {
    border-radius: var(--border-radius-sm);
    transition: none;
  }

  figure > a {
    display: block;
  }

  figcaption {
    color: var(--color-text-secondary);
    margin-bottom: var(--space-sm);
  }

  video {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    border-radius: var(--border-radius-sm);
    margin: var(--space-lg) 0;
  }

  ::selection {
    background: var(--color-text);
    color: var(--color-background);
  }

  :focus-visible {
    outline: 2px dashed var(--color-text-secondary);
    outline-offset: 2px;
  }
}
