@layer utilities {
  .align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .my-md {
    margin-block: var(--space-md);
  }

  .mt-2xl {
    margin-top: var(--space-2xl);
  }

  .mb-md {
    margin-bottom: var(--space-md);
  }

  .mb-lg {
    margin-bottom: var(--space-lg);
  }

  .mb-xl {
    margin-bottom: var(--space-xl);
  }

  .mb-2xl {
    margin-bottom: var(--space-2xl);
  }
}
